@page "/coverage"

<h3>Coverage</h3>

<p>
    Learn which types are "covered by", or weak to, a particular Pokemon move set. For example, a
    fire-type move is super effective against ("covers") bug, steel, grass, and ice type Pokemon.
</p>

<p>Enter up to four move types below.</p>

<p>
    <!-- TODO: Get rid of the dropdown arrow in the input boxes. -->
    <input type="search" list="types" placeholder="Move type 1" @onchange="OnChange1" onfocus="this.value=''" />
    <input type="search" list="types" placeholder="Move type 2" @onchange="OnChange2" onfocus="this.value=''" />
    <input type="search" list="types" placeholder="Move type 3" @onchange="OnChange3" onfocus="this.value=''" />
    <input type="search" list="types" placeholder="Move type 4" @onchange="OnChange4" onfocus="this.value=''" />

    <datalist id="types">
        @{
            Array tokens = Enum.GetValues(typeof(TypeToken));
            var names = new List<string>(tokens.Length);
            foreach (TypeToken t in tokens)
            {
                names.Add(t.ToString());
            }
            names.Sort();
            foreach (string n in names)
            {
                <option value="@n" />
            }
        }
    </datalist>
</p>

@if (coverage != null)
{
    <!-- TODO: Change the below to use icons instead of text. -->
    <h4><b>@coverage.Name Coverage</b></h4>
    <h5><b>Not Very Effective</b></h5>
    <div class="flex-grid">
        <div class="col">
            <h6>1/2x Effectiveness</h6>
            <ul class="ul-nostyle">
                @foreach (var t in coverage.Effective05x)
                {
                    <li>@t.Name</li>
                }
            </ul>
        </div>
        <div class="col">
            <h6>1/4x Effectiveness</h6>
            <ul class="ul-nostyle">
                @foreach (var t in coverage.Effective025x)
                {
                    <li>@t.Name</li>
                }
            </ul>
        </div>
        <div class="col">
            <h6>0x Effectiveness</h6>
            <ul class="ul-nostyle">
                @foreach (var t in coverage.Effective0x)
                {
                    <li>@t.Name</li>
                }
            </ul>
        </div>
    </div>
    <h5><b>Super Effective</b></h5>
    <div class="flex-grid">
        <div class="col">
            <h6>2x Effectiveness</h6>
            <ul class="ul-nostyle">
                @foreach (var t in coverage.Effective2x)
                {
                    <li>@t.Name</li>
                }
            </ul>
        </div>
        <div class="col">
            <h6>4x Effectiveness</h6>
            <ul class="ul-nostyle">
                @foreach (var t in coverage.Effective4x)
                {
                    <li>@t.Name</li>
                }
            </ul>
        </div>
        <div class="col">
        </div>
    </div>
    <h5><b>Normal Effectiveness (1x)</b></h5>
    <ul class="ul-nostyle">
        @foreach (var t in coverage.Effective1x)
        {
            <li>@t.Name</li>
        }
    </ul>
}

@code {
    private string type1;
    private string type2;
    private string type3;
    private string type4;
    private PokeTyper.Coverage coverage;

    private void OnChange1(ChangeEventArgs args)
    {
        type1 = (string)args.Value;
        coverage = GetCoverage();
    }

    private void OnChange2(ChangeEventArgs args)
    {
        type2 = (string)args.Value;
        coverage = GetCoverage();
    }

    private void OnChange3(ChangeEventArgs args)
    {
        type3 = (string)args.Value;
        coverage = GetCoverage();
    }

    private void OnChange4(ChangeEventArgs args)
    {
        type4 = (string)args.Value;
        coverage = GetCoverage();
    }

    private PokeTyper.Coverage GetCoverage()
    {
        var types = new List<TypeToken>(4);
        bool succeeded = true;
        succeeded &= TryConvertInput(type1, ref types);
        succeeded &= TryConvertInput(type2, ref types);
        succeeded &= TryConvertInput(type3, ref types);
        succeeded &= TryConvertInput(type4, ref types);
        if (!succeeded || types.Count == 0)
        {
            return null;
        }
        return API.MakeCoverage(types.ToArray());
    }

    private bool TryConvertInput(string input, ref List<TypeToken> types)
    {
        if (string.IsNullOrWhiteSpace(input))
        {
            return true;
        }
        input = input.Trim();
        TypeToken t;
        if (!API.TryConvertStringToType(input, out t))
        {
            return false;
        }
        types.Add(t);
        return true;
    }
}
