@page "/coverage"

<h3>Coverage</h3>

<p>Figure out which types are "covered by", or weak to, a particular Pokemon move set. For example, a fire-type move is super effective against ("covers") bug, steel, grass, and ice type Pokemon.</p>

<p>Input up to four move types below and click "Get coverage".</p>

<p>
    <input list="types" placeholder="Move type 1" @bind="type1" @onkeyup="OnKeyUp" />
    <input list="types" placeholder="Move type 2" @bind="type2" @onkeyup="OnKeyUp" />
    <input list="types" placeholder="Move type 3" @bind="type3" @onkeyup="OnKeyUp" />
    <input list="types" placeholder="Move type 4" @bind="type4" @onkeyup="OnKeyUp" />
    <button @onclick="GetCoverage">Get coverage</button>

    <datalist id="types">
        @foreach (TypeToken t in Enum.GetValues(typeof(TypeToken)))
        {
            <option value="@t.ToString()" />
        }
    </datalist>
</p>

@if (error != null)
{
    <p>Error: @error</p>
}
else if (coverage != null)
{
    <!-- TODO: Change the below to use icons instead of text. -->
    <h4>@coverage.Name</h4>
    <h5>x1/4</h5>
    <ul>
        @foreach (var t in coverage.Effective025x)
        {
            <li>@t.Name</li>
        }
    </ul>
    <h5>x1/2</h5>
    <ul>
        @foreach (var t in coverage.Effective05x)
        {
            <li>@t.Name</li>
        }
    </ul>
    <h5>x1</h5>
    <ul>
        @foreach (var t in coverage.Effective1x)
        {
            <li>@t.Name</li>
        }
    </ul>
    <h5>x2</h5>
    <ul>
        @foreach (var t in coverage.Effective2x)
        {
            <li>@t.Name</li>
        }
    </ul>
    <h5>x4</h5>
    <ul>
        @foreach (var t in coverage.Effective4x)
        {
            <li>@t.Name</li>
        }
    </ul>
    <h5>x0</h5>
    <ul>
        @foreach (var t in coverage.Effective0x)
        {
            <li>@t.Name</li>
        }
    </ul>
}

@code {
    private string type1;
    private string type2;
    private string type3;
    private string type4;
    private PokeTyper.Coverage coverage;
    private string error;

    private void OnKeyUp(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            GetCoverage();
        }
    }

    private void GetCoverage()
    {
        coverage = null;
        error = null;
        var types = new List<TypeToken>(4);
        foreach (var type in new string[] { type1, type2, type3, type4 })
        {
            if (!string.IsNullOrWhiteSpace(type))
            {
                TypeToken t;
                if (!API.TryConvertStringToType(type, out t))
                {
                    error = "Invalid type: \"" + type + "\"";
                    return;
                }
                types.Add(t);
            }
        }
        if (types.Count == 0)
        {
            return;
        }
        coverage = API.MakeCoverage(types.ToArray());
    }
}
