@page "/mons"

<h3>Mons</h3>

<p>Enter a Pokémon</p>

<p>
    <input type="search" list="mons" placeholder="Which Pokemon?" @onchange="OnChange1" onfocus="this.value=''" />
        
    <datalist id="mons">
        @{
            Array tokens = Enum.GetValues(typeof(PokeToken));
            var names = new List<string>(tokens.Length);
            foreach (PokeToken t in tokens)
            {
                names.Add(t.ToString());
            }
            names.Sort();
            foreach (string n in names)
            {
                <option value="@n" />
            }
        }
    </datalist>
</p>

@if (error != null)
{
    <p>Error: @error</p>
}
else if (typeInfo != null)
{
    <!-- TODO: Change the below to use icons instead of text. -->
    <h4><b>@typeInfo.Name Type</b></h4>
    <h5><b>Resistances</b></h5>
    <div class="flex-grid">
        <div class="col">
            <h6>Resist 2x</h6>
            <ul>
                @foreach (var t in typeInfo.Resist2x)
                {
                    <li>@t.ToString()</li>
                }
            </ul>
        </div>
        <div class="col">
            <h6>Resist 4x</h6>
            <ul>
                @foreach (var t in typeInfo.Resist4x)
                {
                    <li>@t.ToString()</li>
                }
            </ul>
        </div>
        <div class="col">
            <h6>Immune (0x)</h6>
            <ul>
                @foreach (var t in typeInfo.Immune)
                {
                    <li>@t.ToString()</li>
                }
            </ul>
        </div>
    </div>
    <h5><b>Weaknesses</b></h5>
    <div class="flex-grid">
        <div class="col">
            <h6>Weak To 2x</h6>
            <ul>
                @foreach (var t in typeInfo.WeakTo2x)
                {
                    <li>@t.ToString()</li>
                }
            </ul>
        </div>
        <div class="col">
            <h6>Weak To 4x</h6>
            <ul>
                @foreach (var t in typeInfo.WeakTo4x)
                {
                    <li>@t.ToString()</li>
                }
            </ul>
        </div>
        <div class="col">
        </div>
    </div>
    <h5><b>Normal Damage (1x)</b></h5>
    <ul>
        @foreach (var t in typeInfo.Normal)
        {
            <li>@t.ToString()</li>
        }
    </ul>
}

@code {
    private string mon1;
    private PokemonType typeInfo;
    private string error;

    private void OnChange1(ChangeEventArgs args)
    {
        type1 = (string)args.Value;
        typeInfo = GetPokemonType();
    }
    
    private PokemonType GetPokemonType()
    {
        var types = new List<TypeToken>(2);
        bool succeeded = true;
        succeeded &= TryConvertInput(type1, ref types);
        succeeded &= TryConvertInput(type2, ref types);
        if (!succeeded || types.Count == 0)
        {
            return null;
        }
        return API.MakeType(types.ToArray());
    }

    private bool TryConvertInput(ref string input, ref List<TypeToken> types)
    {
        if (string.IsNullOrWhiteSpace(input))
        {
            // Clear the textbox.
            input = string.Empty;
            return true;
        }
        input = input.Trim();
        TypeToken t;
        if (!API.TryConvertStringToType(input, out t))
        {
            error = "Invalid type: \"" + input + "\"";
            return false;
        }
        types.Add(t);
        // Make the value in the textbox matches the type's actual value, e.g. make sure it starts
        // with a capital letter, etc.
        input = t.ToString();
        return true;
    }

    private void MakeType()
    {
        typeInfo = null;
        error = null;
        var types = new List<TypeToken>(2);
        bool succeeded = true;
        IDictionary<string, string[]> pokedex = new Dictionary<string, string[]>()
          {
            {"Bulbasaur",new string[]{"Grass", "Poison"}},
            {"Ivysaur",new string[]{"Grass", "Poison"}},
            {"Venusaur",new string[]{"Grass", "Poison"}},
            {"Charmander",new string[]{"Fire"}},
            {"Charmeleon",new string[]{"Fire"}},
            {"Charizard",new string[]{"Fire", "Flying"}},
            {"Squirtle",new string[]{"Water"}},
            {"Wartortle",new string[]{"Water"}},
            {"Blastoise",new string[]{"Water"}},
            {"Caterpie",new string[]{"Bug"}},
            {"Metapod",new string[]{"Bug"}},
            {"Butterfree",new string[]{"Bug", "Flying"}},
            {"Weedle",new string[]{"Bug", "Poison"}},
            {"Kakuna",new string[]{"Bug", "Poison"}},
            {"Beedrill",new string[]{"Bug", "Poison"}},
            {"Pidgey",new string[]{"Normal", "Flying"}},
            {"Pidgeotto",new string[]{"Normal", "Flying"}},
            {"Pidgeot",new string[]{"Normal", "Flying"}},
            {"Rattata",new string[]{"Normal"}},
            {"Raticate",new string[]{"Normal"}},
            {"Spearow",new string[]{"Normal", "Flying"}},
            {"Fearow",new string[]{"Normal", "Flying"}},
            {"Ekans",new string[]{"Poison"}},
            {"Arbok",new string[]{"Poison"}},
            {"Pikachu",new string[]{"Electric"}},
            {"Raichu",new string[]{"Electric"}},
            {"Sandshrew",new string[]{"Ground"}},
            {"Sandslash",new string[]{"Ground"}},
            {"Nidoran♀",new string[]{"Poison"}},
            {"Nidorina",new string[]{"Poison"}},
            {"Nidoqueen",new string[]{"Poison","Ground"}},
            {"Nidoran♂",new string[]{"Poison"}},
            {"Nidorino",new string[]{"Poison"}},
            {"Nidoking",new string[]{"Poison", "Ground"}},
            {"Clefairy",new string[]{"Fairy"}},
            {"Clefable",new string[]{"Fairy"}},
            {"Vulpix",new string[]{"Fire"}},
            {"Ninetales",new string[]{"Fire"}},
            {"Jigglypuff",new string[]{"Normal", "Fairy"}},
            {"Wigglytuff",new string[]{"Normal", "Fairy"}},
            {"Zubat",new string[]{"Poison", "Flying"}},
            {"Golbat",new string[]{"Poison", "Flying"}},
            {"Oddish",new string[]{"Grass", "Poison"}},
            {"Gloom",new string[]{"Grass", "Poison"}},
            {"Vileplume",new string[]{"Grass", "Poison"}},
            {"Paras",new string[]{"Bug", "Grass"}},
            {"Parasect",new string[]{"Bug", "Grass"}},
            {"Venonat",new string[]{"Bug", "Poison"}},
            {"Venomoth",new string[]{"Bug", "Poison"}},
            {"Diglett",new string[]{"Ground"}},
            {"Dugtrio",new string[]{"Ground"}},
            {"Meowth",new string[]{"Normal"}},
            {"Persian",new string[]{"Normal"}},
            {"Psyduck",new string[]{"Water"}},
            {"Golduck",new string[]{"Water"}},
            {"Mankey",new string[]{"Fighting"}},
            {"Primeape",new string[]{"Fighting"}},
            {"Growlithe",new string[]{"Fire"}},
            {"Arcanine",new string[]{"Fire"}},
            {"Poliwag",new string[]{"Water"}},
            {"Poliwhirl",new string[]{"Water"}},
            {"Poliwrath",new string[]{"Water", "Fighting"}},
            {"Abra",new string[]{"Psychic"}},
            {"Kadabra",new string[]{"Psychic"}},
            {"Alakazam",new string[]{"Psychic"}},
            {"Machop",new string[]{"Fighting"}},
            {"Machoke",new string[]{"Fighting"}},
            {"Machamp",new string[]{"Fighting"}},
            {"Bellsprout",new string[]{"Grass", "Poison"}},
            {"Weepinbell",new string[]{"Grass", "Poison"}},
            {"Victreebel",new string[]{"Grass", "Poison"}},
            {"Tentacool",new string[]{"Water", "Poison"}},
            {"Tentacruel",new string[]{"Water", "Poison"}},
            {"Geodude",new string[]{"Rock", "Ground"}},
            {"Graveler",new string[]{"Rock", "Ground"}},
            {"Golem",new string[]{"Rock", "Ground"}},
            {"Ponyta",new string[]{"Fire"}},
            {"Rapidash",new string[]{"Fire"}},
            {"Slowpoke",new string[]{"Water", "Psychic"}},
            {"Slowbro",new string[]{"Water", "Psychic"}},
            {"Magnemite",new string[]{"Electric", "Steel"}},
            {"Magneton",new string[]{"Electric", "Steel"}},
            {"Farfetch'd",new string[]{"Normal", "Flying"}},
            {"Doduo",new string[]{"Normal", "Flying"}},
            {"Dodrio",new string[]{"Normal", "Flying"}},
            {"Seel",new string[]{"Water"}},
            {"Dewgong",new string[]{"Water", "Ice"}},
            {"Grimer",new string[]{"Poison"}},
            {"Muk",new string[]{"Poison"}},
            {"Muk - Alolan",new string[]{"Poison", "Dark"}},
            {"Shellder",new string[]{"Water"}},
            {"Cloyster",new string[]{"Water", "Ice"}},
            {"Gastly",new string[]{"Ghost", "Poison"}},
            {"Haunter",new string[]{"Ghost", "Poison"}},
            {"Gengar",new string[]{"Ghost", "Poison"}},
            {"Onix",new string[]{"Rock", "Ground"}},
            {"Drowzee",new string[]{"Psychic"}},
            {"Hypno",new string[]{"Psychic"}},
            {"Krabby",new string[]{"Water"}},
            {"Kingler",new string[]{"Water"}},
            {"Voltorb",new string[]{"Electric"}},
            {"Electrode",new string[]{"Electric"}},
            {"Exeggcute",new string[]{"Grass", "Psychic"}},
            {"Exeggutor",new string[]{"Grass", "Psychic"}},
            {"Cubone",new string[]{"Ground"}},
            {"Marowak",new string[]{"Ground"}},
            {"Hitmonlee",new string[]{"Fighting"}},
            {"Hitmonchan",new string[]{"Fighting"}},
            {"Lickitung",new string[]{"Normal"}},
            {"Koffing",new string[]{"Poison"}},
            {"Weezing",new string[]{"Poison"}},
            {"Rhyhorn",new string[]{"Ground", "Rock"}},
            {"Rhydon",new string[]{"Ground", "Rock"}},
            {"Chansey",new string[]{"Normal"}},
            {"Tangela",new string[]{"Grass"}},
            {"Kangaskhan",new string[]{"Normal"}},
            {"Horsea",new string[]{"Water"}},
            {"Seadra",new string[]{"Water"}},
            {"Goldeen",new string[]{"Water"}},
            {"Seaking",new string[]{"Water"}},
            {"Staryu",new string[]{"Water"}},
            {"Starmie",new string[]{"Water", "Psychic"}},
            {"Mr. Mime",new string[]{"Psychic", "Fairy"}},
            {"Scyther",new string[]{"Bug", "Flying"}},
            {"Jynx",new string[]{"Ice", "Psychic"}},
            {"Electabuzz",new string[]{"Electric"}},
            {"Magmar",new string[]{"Fire"}},
            {"Pinsir",new string[]{"Bug"}},
            {"Tauros",new string[]{"Normal"}},
            {"Magikarp",new string[]{"Water"}},
            {"Gyarados",new string[]{"Water", "Flying"}},
            {"Lapras",new string[]{"Water", "Ice"}},
            {"Ditto",new string[]{"Normal"}},
            {"Eevee",new string[]{"Normal"}},
            {"Vaporeon",new string[]{"Water"}},
            {"Jolteon",new string[]{"Electric"}},
            {"Flareon",new string[]{"Fire"}},
            {"Porygon",new string[]{"Normal"}},
            {"Omanyte",new string[]{"Rock", "Water"}},
            {"Omastar",new string[]{"Rock", "Water"}},
            {"Kabuto",new string[]{"Rock", "Water"}},
            {"Kabutops",new string[]{"Rock", "Water"}},
            {"Aerodactyl",new string[]{"Rock", "Flying"}},
            {"Snorlax",new string[]{"Normal"}},
            {"Articuno",new string[]{"Ice", "Flying"}},
            {"Zapdos",new string[]{"Electric", "Flying"}},
            {"Moltres",new string[]{"Fire", "Flying"}},
            {"Dratini",new string[]{"Dragon"}},
            {"Dragonair",new string[]{"Dragon"}},
            {"Dragonite",new string[]{"Dragon", "Flying"}},
            {"Mewtwo",new string[]{"Psychic"}}
          };
        string[] typeStrings = pokedex[mon1];
        succeeded &= TryConvertInput(ref typeStrings[0], ref types);
        succeeded &= TryConvertInput(ref typeStrings[1], ref types);
        if (!succeeded || types.Count == 0)
        {
            return;
        }
        typeInfo = API.MakeType(types.ToArray());
    }
}
