@page "/types"

<h3>Types</h3>

<p>Learn more about any Pokemon type or type combination. Just input one or two types below and click "Make type".</p>

<p>
    <input list="types" placeholder="Type 1" @bind="type1" @onkeyup="OnKeyUp" onfocus="this.value=''" />
    <input list="types" placeholder="Type 2" @bind="type2" @onkeyup="OnKeyUp" onfocus="this.value=''" />
    <button @onclick="MakeType">Make type</button>

    <datalist id="types">
        @{
            Array tokens = Enum.GetValues(typeof(TypeToken));
            var names = new List<string>(tokens.Length);
            foreach (TypeToken t in tokens)
            {
                names.Add(t.ToString());
            }
            names.Sort();
            foreach (string n in names)
            {
                <option value="@n" />
            }
        }
    </datalist>
</p>

@if (error != null)
{
    <p>Error: @error</p>
}
else if (typeInfo != null)
{
    <!-- TODO: Change the below to use icons instead of text. -->
    <h4><b>@typeInfo.Name Type</b></h4>
    <h5><b>Resistances</b></h5>
    <h6>Resist 2x</h6>
    <ul>
        @foreach (var t in typeInfo.Resist2x)
        {
            <li>@t.ToString()</li>
        }
    </ul>
    <h6>Resist 4x</h6>
    <ul>
        @foreach (var t in typeInfo.Resist4x)
        {
            <li>@t.ToString()</li>
        }
    </ul>
    <h6>Immune (0x)</h6>
    <ul>
        @foreach (var t in typeInfo.Immune)
        {
            <li>@t.ToString()</li>
        }
    </ul>
    <h5><b>Weaknesses</b></h5>
    <h6>Weak To 2x</h6>
    <ul>
        @foreach (var t in typeInfo.WeakTo2x)
        {
            <li>@t.ToString()</li>
        }
    </ul>
    <h6>Weak To 4x</h6>
    <ul>
        @foreach (var t in typeInfo.WeakTo4x)
        {
            <li>@t.ToString()</li>
        }
    </ul>
    <h5><b>Normal Damage (1x)</b></h5>
    <ul>
        @foreach (var t in typeInfo.Normal)
        {
            <li>@t.ToString()</li>
        }
    </ul>
}

@code {
    private string type1;
    private string type2;
    private PokemonType typeInfo;
    private string error;

    private void OnKeyUp(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            MakeType();
        }
    }

    private bool TryConvertInput(ref string input, ref List<TypeToken> types)
    {
        if (string.IsNullOrWhiteSpace(input))
        {
            // Clear the textbox.
            input = string.Empty;
            return true;
        }
        input = input.Trim();
        TypeToken t;
        if (!API.TryConvertStringToType(input, out t))
        {
            error = "Invalid type: \"" + input + "\"";
            return false;
        }
        types.Add(t);
        // Make the value in the textbox matches the type's actual value, e.g. make sure it starts
        // with a capital letter, etc.
        input = t.ToString();
        return true;
    }

    private void MakeType()
    {
        typeInfo = null;
        error = null;
        var types = new List<TypeToken>(2);
        bool succeeded = true;
        succeeded &= TryConvertInput(ref type1, ref types);
        succeeded &= TryConvertInput(ref type2, ref types);
        if (!succeeded || types.Count == 0)
        {
            return;
        }
        typeInfo = API.MakeType(types.ToArray());
    }
}
